seguridad-rcf/Trunk/TGP-Seguridad/TGP.Seguridad/Service References/SRSeguridad/Seguridad3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TGP.WSS.Models.Requerimiento" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TGP.WSS.Models.Requerimiento" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequerimientoFavoritearDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequerimientoDTO">
        <xs:sequence>
          <xs:element name="NombreClase" nillable="true" type="xs:string" />
          <xs:element name="ObjetoID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequerimientoFavoritearDTO" nillable="true" type="tns:RequerimientoFavoritearDTO" />
  <xs:complexType name="RequerimientoDTO">
    <xs:sequence>
      <xs:element name="NombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequerimientoDTO" nillable="true" type="tns:RequerimientoDTO" />
  <xs:complexType name="RequerimientoObtenerFavoritosDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequerimientoDTO">
        <xs:sequence>
          <xs:element name="NombreClase" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequerimientoObtenerFavoritosDTO" nillable="true" type="tns:RequerimientoObtenerFavoritosDTO" />
  <xs:complexType name="RequerimientoObtenerUsuarioDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequerimientoDTO">
        <xs:sequence>
          <xs:element name="ClaveServicio" nillable="true" type="xs:string" />
          <xs:element name="EstructuraFuncional" nillable="true" type="xs:string" />
          <xs:element name="UsuarioConsultaID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequerimientoObtenerUsuarioDTO" nillable="true" type="tns:RequerimientoObtenerUsuarioDTO" />
  <xs:complexType name="RequerimientoObtenerUsuariosNominadosPorRolDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequerimientoDTO">
        <xs:sequence>
          <xs:element name="ClaveServicio" nillable="true" type="xs:string" />
          <xs:element name="CodigoRol" nillable="true" type="xs:string" />
          <xs:element name="EstructuraFuncional" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequerimientoObtenerUsuariosNominadosPorRolDTO" nillable="true" type="tns:RequerimientoObtenerUsuariosNominadosPorRolDTO" />
</xs:schema>