seguridad-rcf/TGP-Seguridad/TGP.Seguridad/Service References/SRSeguridad/Seguridad4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TGP.WSS.Models.Resultado" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TGP.WSS.Models.Resultado" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws-tesoreria.cgp.sigaf.bajos/TGP.WSS_desa/Seguridad.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TGP.WSS.Models.DTO" />
  <xs:complexType name="ResultadoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoDTO" nillable="true" type="tns:ResultadoDTO" />
  <xs:complexType name="ResultadoObtenerFavoritosDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultadoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Favoritos" nillable="true" type="tns:ArrayOfFavoritoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultadoObtenerFavoritosDTO" nillable="true" type="tns:ResultadoObtenerFavoritosDTO" />
  <xs:complexType name="ArrayOfFavoritoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FavoritoDTO" nillable="true" type="tns:FavoritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFavoritoDTO" nillable="true" type="tns:ArrayOfFavoritoDTO" />
  <xs:complexType name="FavoritoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjetoID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FavoritoDTO" nillable="true" type="tns:FavoritoDTO" />
  <xs:complexType name="ResultadoObtenerUsuarioDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultadoDTO">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TGP.WSS.Models.DTO" minOccurs="0" name="UsuarioNominadoDTO" nillable="true" type="q1:UsuarioNominadoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultadoObtenerUsuarioDTO" nillable="true" type="tns:ResultadoObtenerUsuarioDTO" />
  <xs:complexType name="ResultadoObtenerUsuariosNominadosPorRolDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultadoDTO">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TGP.WSS.Models.DTO" minOccurs="0" name="UsuariosNominadosDTO" nillable="true" type="q2:ArrayOfUsuarioNominadoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultadoObtenerUsuariosNominadosPorRolDTO" nillable="true" type="tns:ResultadoObtenerUsuariosNominadosPorRolDTO" />
</xs:schema>